<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <form action="/subir_productos" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <input
              type="text"
              name="title"
              class="form-control"
              placeholder="Title"
            />
          </div>
          <div class="form-group">
            <input
              type="number"
              name="price"
              class="form-control"
              placeholder="$ Price $"
            />
          </div>
          <div class="form-group">
            <textarea
              name="descrip"
              class="form-control"
              placeholder="Description"
            ></textarea>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input 
                type="number" 
                class="form-control input-number" 
                id="rooms" 
                name="room" min="1" max="10">
              <label for="rooms" class="custom-file">Rooms</label>
              <input 
                type="number" 
                class="form-control input-number" 
                id="bath" 
                name="bath" min="1" max="10">
              <label for="bath" class="custom-file">Bath</label>
            </div>
          </div>
          <div class="input-group mb-3">
            <div class="custom-file">
              <input
                type="file"
                name="image"
                class="custom-file-input"
                id="inputGroupFile01"
              />
              <label for="inputGroupFile01" class="custom-file-label">Choose
                File</label>
            </div>
          </div>
          <button class="btn btn-success">
            upload
          </button>
        </form>
      </div>
    </div>
  </div>  
  <div class="col-md-8">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>       
          <th scope="col">Operations</th>
        </tr>
      </thead>
      <tbody>
        {{#each rows}}
        <tr>
          <th scope="row">{{title}}</th>
          <td>{{descrip}}</td>
          <td>{{price}}</td>
          <td>
            <a href="/edit_product/{{id}}" class="btn btn-info">Edit</a>
            <button class="btn btn-danger delete-product" data-product-id="{{id}}">Delete</button>
          </td>          
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
 
<script>
  const $deleteBtns = document.querySelectorAll('.delete-product');
  $deleteBtns.forEach($deleteBtn => {
    $deleteBtn.addEventListener('click', (event) => {
      const productId = event.target.dataset.productId;
        if (confirm('¿Está seguro de que desea eliminar el producto?')) {
          fetch(`/delete_product/${productId}`, {
           method: 'DELETE'
          })
          .then(response => {
            if (response.ok) {
              {{!-- window.location.reload(); --}}
            } else {
              throw new Error('No se ha podido eliminar el producto');
            }
          })
          .catch(error => console.error(error));
        }
    });
  })
</script>